.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #C0C0C0;
}

.headline{
    font-size: 6rem;
    font-weight: bolder;
    margin: 30px;
  }
  
  .sub-header{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 30px;
  }

  .avatar{
    max-width: 20%;
    max-height: 20%;
  }

  .logo{
    max-width: 10%;
    max-height: 10%;
  }