.main{
    margin-top: 60px;
}

.project-image{
    max-width: 1000px;
}

.pic-collage{
    display: flex;
    flex-direction: row;
}

.project-image-sm{
    max-width: 300px;
}

.project-description{
    max-width: 1000px;
    padding: 40px;
    text-align: left;
}

.project-image-card{
    max-width: 300px;
    text-align: left;
    padding: 20px;
}

hr{
    margin-top: 40px;
}