img{
    max-height: 200px;
    max-width: 100px;
    border-radius: 10%;
}

.section-card{
    max-height: 250px;
    max-width: 250px;
}

.section-card-details{
    font-size: .8rem;
    text-align: justify;
}
